*.svg linguist-documentation
*.stl linguist-documentation
*.tif linguist-documentation
*.png linguist-documentation
*.jpg linguist-documentation
*.gif linguist-documentation
*.pdf linguist-documentation
